/* import other css files */
@import url("/styles/respo.css");
@import url('/styles/themes.css');

/* all default config */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Fira code;
}

/* all globals variables */
:root{
    /* colors global variables */
    --primary-clr : #ae4858;
    --second-clr : #8c75ff;
    --bg-clr-1 : #0f0110;
    --bg-clr-2: #160217;
    --bg-clr-3: #1b0e1c;
    --light-clr: #cba3ce; 
    --txt-clr-1: var(--light-clr);
    --txt-clr-2: #947b96;
    /* border-radisu global variables */
    --brd-rd-1 : 25px;
    --brd-rd-2 : 12px;
    --brd-rd-3 : 8px;

    /* boxshadow global variables */
    --bx-sh-1 : 0 0 30px rgba(0, 0, 0, 0.10);
    --bx-sh-2 : 10px 6px 30px rgba(0, 0, 0, 0.12);
    --bx-sh-3 : 5px 5px 30px rgba(0, 0, 0, 0.12);

}

/* Defautls values for hmlt element */

img{
    width:120px
}

svg{
    width: 32px;
}
a{
    text-decoration: none;
}

html, body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-clr-1);
    color: var(--txt-clr-1);
}

section{
    padding-inline: 100px;
}


/* predefined styles */
.title-1{
    font-size: 3.5em;
    color: var(--primary-clr);
    padding: 10px 0;
}
.title-2{
    font-size: 1.6em;
}
.title-3{
    font-size: 1em;
}
.flx-cntr{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flx-left{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.flx-right{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.flx-align-clmn{
    flex-direction: column;
}
.active{
    color: white;
    background-color: var(--primary-clr);   
}
/* container style */
.container{
    display: flex;
    min-height: 100vh;
    position: relative;
    flex-direction: column;
}

/* header style */
.container .header{
    width: 100%;
    background-color: var(--bg-clr-2);
    backdrop-filter: blur(80%), opacity(50%);
    height: 5em;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 100px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.01);
    z-index: 999;
}
/* logo style */
.container .header .logo{
    width: 20%;
}
.container .header .logo span{
    font-size: 18px;
    font-weight: 620;
}

/* nav menu style */
.header .menu{
    width: 100%;
    justify-content: center;
    margin-right: 25px;
    align-items: center;
}
.header .menu ul{
    gap: 1rem;
    list-style-type: none;
    font-weight: 500;
}
.header .menu ul li a{
    color: var(--txt-clr-1);
}
.header .menu ul li a{
    font-size: 13px;
    font-weight: 500;
    color: var(--primary-clr);
    border: 2px solid var(--primary-clr);
    border-radius: var(--brd-rd-1);
    padding: 5px 10px;
}

.header .hide-me{
    border:none;
    background-color: var(--light-clr);
    font-size: 13px;
    border: var(--brd-rd-2);
    padding: 5px 10px;
    width: 150px;
    box-shadow: var(--bx-sh-2);
    cursor: pointer;
}

/* home-content */

.container .home-contents{
    min-height: 100vh;
    width: 100%;
    gap: 2.4em;
}
.home-contents .home-l-contents{
    width: 60%;
    height: 100%;
}

.home-contents .home-l-contents .whoamis-list{
    gap: 0.5em;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    height: max-content;
    margin-left: -5px;
}
.home-l-contents .whoamis-list .item{
    background-color: var(--primary-clr);
    padding: 5px 16px;
    margin: 2px;
    font-size: 12px;
    width: max-content;
    border-radius: var(--brd-rd-3);
    box-shadow: var(--bx-sh-2);
    position: relative;
}
.home-l-contents .whoamis-list .item::after{
    position:absolute;
    content: "";
    width: 5px;
    height: 5px;
    background-color: var(--light-clr);
    right: -9px;
    top: 12px;
    transform: translateY(50%) ;
    border-radius: 50%;
}
.home-l-contents .whoamis-list .item.item-1{
    background-color: var(--light-clr);
    color: var(--second-clr);
}
.home-l-contents .whoamis-list .item.item-2{
    background-color: var(--second-clr);
    color: var(--txt-clr-1);
}
.home-l-contents .whoamis-list .item.item-3{
    background-color: var(--light-clr);
    color: var(--second-clr);
}

.container .home-contents .home-l-contents p{
    margin-top: 2.4rem;
    margin-bottom: 1.7rem;
    font-size: 13px;
}

.container .home-contents .home-l-contents a{
    padding: 10px 15px;
    background-color: var(--second-clr);
    margin-top: 2rem;
    border-radius: var(--brd-rd-3);
    box-shadow: var(--bx-sh-2);
    font-size: 14px;
    color: var(--light-clr);
}

.container .home-contents .r-contents{
    width: 40%;  
}

.home-contents .r-contents img{
    width:360px;

}

/* about-me style */
.container .about-me{
    width: 100%;
    min-height: 70vh;
}

.container .about-me img{
    width: 25px;
}
.container .about-me .l-contents{   
    margin-right: 2rem;
}
.container .about-me .l-contents img{
    width: 350px;
}

.container .about-me .r-contents{
    display: flex;
    gap: 1.2rem;
    flex-direction: column;
}

.container .about-me .r-contents h2{
    color: var(--primary-clr);
    text-transform: uppercase;
    position: relative;
    padding-right: 1.7rem;
    margin-bottom: 40px;
}

.container .about-me .r-contents h2:after{
    position: absolute;
    content: "";
    width: 15px;
    height: 15px;
    border-radius: 50%;
    left: 20%;
    top: 50%;
    background: var(--primary-clr);
    transform: translateY(-50%);
}

.container .about-me .r-contents h2::before{
    position: absolute;
    content: "";
    height: 2px;
    width: 80%;
    top: 50%;
    left: 20%;
    transform: translateY(-50%);
    background: var(--primary-clr);
}
.container .about-me .r-contents .my-descr{
    color: var(--txt-clr-2);
    font-size: 14px;
    font-weight: 500;
    line-height: 25px;
}

.about-me .r-contents .about-me-details{
    gap:1rem;
    margin-top: 1.5rem;
    margin-bottom: 1.3rem;
    width: 100%;
}
.about-me .r-contents .about-me-details .online-comminuties{
    width: 70%;
    height: 100%;
    border-right: 2px solid var(--primary-clr);
    flex-direction: column;
}

.about-me .r-contents .about-me-details .online-comminuties .item{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    gap: .5rem;
}
.about-me .r-contents .about-me-details .online-comminuties .item .subscribers{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-right: 1.5rem;
    gap: .2rem;
}
.online-comminuties .item .subscribers .title{
    font-size: 9px;
    color: var(--primary-clr)
}
.online-comminuties .item .subscribers .amounts{
    font-size: 12px;
    font-weight: 580;
}
.about-me .r-contents .about-me-details .online-comminuties .item h4{
    font-size: 11px;
    text-align: right;
    color: var(--txt-clr-1);
}
.about-me .r-contents .about-me-details .online-comminuties img{
    width: 40px;
    margin: 5px;
}

.about-me .r-contents .about-me-details .works-counters{
    width: 100%;
    gap: 2.2rem;
    /* justify-content: space-around; */
    text-align: center;
}

.about-me .r-contents .about-me-details .works-counters .item{
    gap: 1rem;
    flex-direction: column;
}

.about-me-details .works-counters .item h3{
    font-size: 14px;
    text-transform: uppercase;
}

.about-me-details .works-counters .item .nbr{
    padding: 20px;
    border: 2px solid var(--light-clr);
    border-radius: 50%;
    width: 70px;
    height: 70px;
    color: var(--primary-clr)
}

.about-me .link-cv{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    width: 100%;
    margin-bottom: 3rem;
}

.about-me .link-cv p{
    color: var(--txt-clr-2);
    font-size: 13px;
    margin-right: 5rem;
}

.about-me .link-cv a{
    margin-right: 5rem;
    font-size: 13px;
    padding: 10px 15px;
    background: var(--light-clr);
    color: var(--primary-clr);
    cursor: pointer;
    margin-top: 1.2rem;
    border-radius: var(--brd-rd-3) ;
    box-shadow: var(--bx-sh-2);
}